.itemDetail {
    width: 35%;
    height: 70%;
    background-color: pink;
    display:inline-block;
    border: 1px solid palevioletred;
    border-radius: 10px;
}

.cont1 {
    height:250px;
    width: 50%;
    display:inline-block;
}

.img0 {
    width: 250px;
    height: 250px;
    justify-content: center;
    border: 1px solid palevioletred;
}
